<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Edit here</h1>
<form th:action="@{'/posts/edit/' + ${postToEdit.id}}" th:object="${post}" method="post">
    <label>Title of post</label>
    <input th:field="*{postTitle}" th:value="${postToEdit.title}">
    <label>Body of post</label>
    <input th:field="*{postBody}" th:value="${postToEdit.body}">
    <button type="submit">submit</button>
</form>
</body>
</html>